<div class="card">
    <!--card-->
    <mat-card>
        <app-card 
        bg="orange"
        icon="import_contacts"
        content="Admissions"
        total="2500"
        ></app-card>
    </mat-card>
    
    <mat-card>
        <app-card
        bg="green"
        icon="home"
        content="placements"
        total="2000"
        ></app-card>
    </mat-card>
    <mat-card>
     

      
        <app-card
        bg="blue"
      icon="person"
      content="student"
      total="3000"></app-card>
    </mat-card>
    <mat-card>
        <app-card
        bg="red"
        icon="group"
        content="employee"
        total="100">
    </app-card>
    </mat-card>
</div>
<div>
    <!--area_chart-->
    <app-area-chart></app-area-chart>
</div>
<div class="parent">
     <div>
        <!--table-->
        
        <app-table></app-table>
     </div>
     <div>
        <!--Pie_chart-->
        
        <app-pie-chart></app-pie-chart>
     </div>
</div>
